{
  "endOfLine": "lf",
  "printWidth": 120,
  "semi": true,
  "quoteProps": "consistent",
  "overrides": [
    {
      "files": "*.mc",
      "options": {
        "parser": "monkeyc",
        "arrowParens": "always",
        "bracketSpacing": true,
        "proseWrap": "always",
        "singleQuote": false,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false,
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
