<resources>
	<settings>
		<!-- Application -->
		<setting propertyKey="@Properties.app_use_sound" title="@Strings.use_sound">
			<settingConfig type="boolean"/>
		</setting>
		<setting propertyKey="@Properties.app_use_vibration" title="@Strings.use_vibration">
			<settingConfig type="boolean"/>
		</setting>

		<setting propertyKey="@Properties.app_color_countdown_work" title="@Strings.color_countdown_work">
			<settingConfig type="list">
				<listEntry value="0">Black</listEntry>
				<listEntry value="1">White</listEntry>
				<listEntry value="2">Orange</listEntry>
				<listEntry value="3">Blue</listEntry>
			</settingConfig>
		</setting>

		<!-- WORKOUT #1 -->
		<setting propertyKey="@Properties.w1_divider" title="@Strings.empty">
			<settingConfig type="alphaNumeric" readonly="true" />
		</setting>
		<setting propertyKey="@Properties.w1_title" title="@Strings.workout_title">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_enabled" title="@Strings.workout_enabled">
			<settingConfig type="boolean" />
		</setting>
		<setting propertyKey="@Properties.w1_exercise_duration" title="@Strings.exercise_duration">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w1_rest_duration" title="@Strings.rest_duration">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w1_repetitions" title="@Strings.workout_reps">
			<settingConfig type="numeric" min="1" max="99" />
		</setting>
		<setting propertyKey="@Properties.w1_repetition_pause" title="@Strings.workout_rep_pause">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w1_e1" title="@Strings.exercise_title_1">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e2" title="@Strings.exercise_title_2">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e3" title="@Strings.exercise_title_3">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e4" title="@Strings.exercise_title_4">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e5" title="@Strings.exercise_title_5">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e6" title="@Strings.exercise_title_6">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e7" title="@Strings.exercise_title_7">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e8" title="@Strings.exercise_title_8">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e9" title="@Strings.exercise_title_9">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e10" title="@Strings.exercise_title_10">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e11" title="@Strings.exercise_title_11">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e12" title="@Strings.exercise_title_12">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e13" title="@Strings.exercise_title_13">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e14" title="@Strings.exercise_title_14">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e15" title="@Strings.exercise_title_15">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e16" title="@Strings.exercise_title_16">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e17" title="@Strings.exercise_title_17">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e18" title="@Strings.exercise_title_18">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e19" title="@Strings.exercise_title_19">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w1_e20" title="@Strings.exercise_title_20">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>

		<!-- WORKOUT #2 -->
		<setting propertyKey="@Properties.w2_divider" title="@Strings.empty">
			<settingConfig type="alphaNumeric" readonly="true" />
		</setting>
		<setting propertyKey="@Properties.w2_title" title="@Strings.workout_title">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_enabled" title="@Strings.workout_enabled">
			<settingConfig type="boolean" />
		</setting>
		<setting propertyKey="@Properties.w2_exercise_duration" title="@Strings.exercise_duration">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w2_rest_duration" title="@Strings.rest_duration">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w2_repetitions" title="@Strings.workout_reps">
			<settingConfig type="numeric" min="1" max="99" />
		</setting>
		<setting propertyKey="@Properties.w2_repetition_pause" title="@Strings.workout_rep_pause">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w2_e1" title="@Strings.exercise_title_1">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e2" title="@Strings.exercise_title_2">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e3" title="@Strings.exercise_title_3">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e4" title="@Strings.exercise_title_4">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e5" title="@Strings.exercise_title_5">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e6" title="@Strings.exercise_title_6">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e7" title="@Strings.exercise_title_7">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e8" title="@Strings.exercise_title_8">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e9" title="@Strings.exercise_title_9">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e10" title="@Strings.exercise_title_10">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e11" title="@Strings.exercise_title_11">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e12" title="@Strings.exercise_title_12">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e13" title="@Strings.exercise_title_13">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e14" title="@Strings.exercise_title_14">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e15" title="@Strings.exercise_title_15">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e16" title="@Strings.exercise_title_16">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e17" title="@Strings.exercise_title_17">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e18" title="@Strings.exercise_title_18">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e19" title="@Strings.exercise_title_19">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w2_e20" title="@Strings.exercise_title_20">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>

		<!-- WORKOUT #3 -->
		<setting propertyKey="@Properties.w3_divider" title="@Strings.empty">
			<settingConfig type="alphaNumeric" readonly="true" />
		</setting>
		<setting propertyKey="@Properties.w3_title" title="@Strings.workout_title">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_enabled" title="@Strings.workout_enabled">
			<settingConfig type="boolean" />
		</setting>
		<setting propertyKey="@Properties.w3_exercise_duration" title="@Strings.exercise_duration">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w3_rest_duration" title="@Strings.rest_duration">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w3_repetitions" title="@Strings.workout_reps">
			<settingConfig type="numeric" min="1" max="99" />
		</setting>
		<setting propertyKey="@Properties.w3_repetition_pause" title="@Strings.workout_rep_pause">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w3_e1" title="@Strings.exercise_title_1">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e2" title="@Strings.exercise_title_2">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e3" title="@Strings.exercise_title_3">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e4" title="@Strings.exercise_title_4">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e5" title="@Strings.exercise_title_5">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e6" title="@Strings.exercise_title_6">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e7" title="@Strings.exercise_title_7">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e8" title="@Strings.exercise_title_8">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e9" title="@Strings.exercise_title_9">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e10" title="@Strings.exercise_title_10">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e11" title="@Strings.exercise_title_11">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e12" title="@Strings.exercise_title_12">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e13" title="@Strings.exercise_title_13">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e14" title="@Strings.exercise_title_14">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e15" title="@Strings.exercise_title_15">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e16" title="@Strings.exercise_title_16">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e17" title="@Strings.exercise_title_17">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e18" title="@Strings.exercise_title_18">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e19" title="@Strings.exercise_title_19">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w3_e20" title="@Strings.exercise_title_20">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>

		<!-- WORKOUT #4 -->
		<setting propertyKey="@Properties.w4_divider" title="@Strings.empty">
			<settingConfig type="alphaNumeric" readonly="true" />
		</setting>
		<setting propertyKey="@Properties.w4_title" title="@Strings.workout_title">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_enabled" title="@Strings.workout_enabled">
			<settingConfig type="boolean" />
		</setting>
		<setting propertyKey="@Properties.w4_exercise_duration" title="@Strings.exercise_duration">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w4_rest_duration" title="@Strings.rest_duration">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w4_repetitions" title="@Strings.workout_reps">
			<settingConfig type="numeric" min="1" max="99" />
		</setting>
		<setting propertyKey="@Properties.w4_repetition_pause" title="@Strings.workout_rep_pause">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w4_e1" title="@Strings.exercise_title_1">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e2" title="@Strings.exercise_title_2">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e3" title="@Strings.exercise_title_3">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e4" title="@Strings.exercise_title_4">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e5" title="@Strings.exercise_title_5">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e6" title="@Strings.exercise_title_6">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e7" title="@Strings.exercise_title_7">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e8" title="@Strings.exercise_title_8">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e9" title="@Strings.exercise_title_9">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e10" title="@Strings.exercise_title_10">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e11" title="@Strings.exercise_title_11">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e12" title="@Strings.exercise_title_12">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e13" title="@Strings.exercise_title_13">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e14" title="@Strings.exercise_title_14">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e15" title="@Strings.exercise_title_15">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e16" title="@Strings.exercise_title_16">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e17" title="@Strings.exercise_title_17">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e18" title="@Strings.exercise_title_18">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e19" title="@Strings.exercise_title_19">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w4_e20" title="@Strings.exercise_title_20">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>

		<!-- WORKOUT #5 -->
		<setting propertyKey="@Properties.w5_divider" title="@Strings.empty">
			<settingConfig type="alphaNumeric" readonly="true" />
		</setting>
		<setting propertyKey="@Properties.w5_title" title="@Strings.workout_title">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_enabled" title="@Strings.workout_enabled">
			<settingConfig type="boolean" />
		</setting>
		<setting propertyKey="@Properties.w5_exercise_duration" title="@Strings.exercise_duration">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w5_rest_duration" title="@Strings.rest_duration">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w5_repetitions" title="@Strings.workout_reps">
			<settingConfig type="numeric" min="1" max="99" />
		</setting>
		<setting propertyKey="@Properties.w5_repetition_pause" title="@Strings.workout_rep_pause">
			<settingConfig type="numeric" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.w5_e1" title="@Strings.exercise_title_1">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e2" title="@Strings.exercise_title_2">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e3" title="@Strings.exercise_title_3">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e4" title="@Strings.exercise_title_4">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e5" title="@Strings.exercise_title_5">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e6" title="@Strings.exercise_title_6">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e7" title="@Strings.exercise_title_7">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e8" title="@Strings.exercise_title_8">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e9" title="@Strings.exercise_title_9">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e10" title="@Strings.exercise_title_10">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e11" title="@Strings.exercise_title_11">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e12" title="@Strings.exercise_title_12">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e13" title="@Strings.exercise_title_13">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e14" title="@Strings.exercise_title_14">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e15" title="@Strings.exercise_title_15">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e16" title="@Strings.exercise_title_16">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e17" title="@Strings.exercise_title_17">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e18" title="@Strings.exercise_title_18">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e19" title="@Strings.exercise_title_19">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.w5_e20" title="@Strings.exercise_title_20">
			<settingConfig type="alphaNumeric" maxLength="32" />
		</setting>

	</settings>
</resources>
