<resources>
	<settings>
		<!-- WORKOUT #1 -->
		<setting propertyKey="@Properties.workout_1_divider" title="@Strings.empty">
			<settingConfig type="alphaNumeric" readonly="true" />
		</setting>		
		<setting propertyKey="@Properties.workout_1_title" title="@Strings.workout_title">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>		
		<setting propertyKey="@Properties.workout_1_enabled" title="@Strings.workout_enabled">
			<settingConfig type="boolean" />
		</setting>		
		<setting propertyKey="@Properties.workout_1_exercise_duration" title="@Strings.exercise_duration">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_1_rest_duration" title="@Strings.rest_duration">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_1_repetitions" title="@Strings.workout_reps">
			<settingConfig type="numeric" required="false" min="1" max="99" />
		</setting>
		<setting propertyKey="@Properties.workout_1_repetition_pause" title="@Strings.workout_rep_pause">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_1_title" title="@Strings.exercise_title_1">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_2_title" title="@Strings.exercise_title_2">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_3_title" title="@Strings.exercise_title_3">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_4_title" title="@Strings.exercise_title_4">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_5_title" title="@Strings.exercise_title_5">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_6_title" title="@Strings.exercise_title_6">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_7_title" title="@Strings.exercise_title_7">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_8_title" title="@Strings.exercise_title_8">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_9_title" title="@Strings.exercise_title_9">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_10_title" title="@Strings.exercise_title_10">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_11_title" title="@Strings.exercise_title_11">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_12_title" title="@Strings.exercise_title_12">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_13_title" title="@Strings.exercise_title_13">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_14_title" title="@Strings.exercise_title_14">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_15_title" title="@Strings.exercise_title_15">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_16_title" title="@Strings.exercise_title_16">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_17_title" title="@Strings.exercise_title_17">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_18_title" title="@Strings.exercise_title_18">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_19_title" title="@Strings.exercise_title_19">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_1_exercise_20_title" title="@Strings.exercise_title_20">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		
		<!-- WORKOUT #2 -->
		<setting propertyKey="@Properties.workout_2_divider" title="@Strings.empty">
			<settingConfig type="alphaNumeric" readonly="true" />
		</setting>		
		<setting propertyKey="@Properties.workout_2_title" title="@Strings.workout_title">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_enabled" title="@Strings.workout_enabled">
			<settingConfig type="boolean" />
		</setting>	
		<setting propertyKey="@Properties.workout_2_exercise_duration" title="@Strings.exercise_duration">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_2_rest_duration" title="@Strings.rest_duration">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_2_repetitions" title="@Strings.workout_reps">
			<settingConfig type="numeric" required="false" min="1" max="99" />
		</setting>
		<setting propertyKey="@Properties.workout_2_repetition_pause" title="@Strings.workout_rep_pause">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_1_title" title="@Strings.exercise_title_1">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_2_title" title="@Strings.exercise_title_2">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_3_title" title="@Strings.exercise_title_3">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_4_title" title="@Strings.exercise_title_4">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_5_title" title="@Strings.exercise_title_5">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_6_title" title="@Strings.exercise_title_6">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_7_title" title="@Strings.exercise_title_7">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_8_title" title="@Strings.exercise_title_8">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_9_title" title="@Strings.exercise_title_9">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_10_title" title="@Strings.exercise_title_10">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_11_title" title="@Strings.exercise_title_11">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_12_title" title="@Strings.exercise_title_12">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_13_title" title="@Strings.exercise_title_13">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_14_title" title="@Strings.exercise_title_14">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_15_title" title="@Strings.exercise_title_15">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_16_title" title="@Strings.exercise_title_16">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_17_title" title="@Strings.exercise_title_17">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_18_title" title="@Strings.exercise_title_18">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_19_title" title="@Strings.exercise_title_19">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_2_exercise_20_title" title="@Strings.exercise_title_20">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		
		<!-- WORKOUT #3 -->
		<setting propertyKey="@Properties.workout_3_divider" title="@Strings.empty">
			<settingConfig type="alphaNumeric" readonly="true" />
		</setting>		
		<setting propertyKey="@Properties.workout_3_title" title="@Strings.workout_title">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_enabled" title="@Strings.workout_enabled">
			<settingConfig type="boolean" />
		</setting>	
		<setting propertyKey="@Properties.workout_3_exercise_duration" title="@Strings.exercise_duration">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_3_rest_duration" title="@Strings.rest_duration">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_3_repetitions" title="@Strings.workout_reps">
			<settingConfig type="numeric" required="false" min="1" max="99" />
		</setting>
		<setting propertyKey="@Properties.workout_3_repetition_pause" title="@Strings.workout_rep_pause">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_1_title" title="@Strings.exercise_title_1">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_2_title" title="@Strings.exercise_title_2">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_3_title" title="@Strings.exercise_title_3">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_4_title" title="@Strings.exercise_title_4">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_5_title" title="@Strings.exercise_title_5">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_6_title" title="@Strings.exercise_title_6">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_7_title" title="@Strings.exercise_title_7">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_8_title" title="@Strings.exercise_title_8">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_9_title" title="@Strings.exercise_title_9">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_10_title" title="@Strings.exercise_title_10">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_11_title" title="@Strings.exercise_title_11">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_12_title" title="@Strings.exercise_title_12">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_13_title" title="@Strings.exercise_title_13">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_14_title" title="@Strings.exercise_title_14">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_15_title" title="@Strings.exercise_title_15">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_16_title" title="@Strings.exercise_title_16">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_17_title" title="@Strings.exercise_title_17">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_18_title" title="@Strings.exercise_title_18">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_19_title" title="@Strings.exercise_title_19">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_3_exercise_20_title" title="@Strings.exercise_title_20">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		
		<!-- WORKOUT #4 -->
		<setting propertyKey="@Properties.workout_4_divider" title="@Strings.empty">
			<settingConfig type="alphaNumeric" readonly="true" />
		</setting>		
		<setting propertyKey="@Properties.workout_4_title" title="@Strings.workout_title">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_enabled" title="@Strings.workout_enabled">
			<settingConfig type="boolean" />
		</setting>	
		<setting propertyKey="@Properties.workout_4_exercise_duration" title="@Strings.exercise_duration">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_4_rest_duration" title="@Strings.rest_duration">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_4_repetitions" title="@Strings.workout_reps">
			<settingConfig type="numeric" required="false" min="1" max="99" />
		</setting>
		<setting propertyKey="@Properties.workout_4_repetition_pause" title="@Strings.workout_rep_pause">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_1_title" title="@Strings.exercise_title_1">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_2_title" title="@Strings.exercise_title_2">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_3_title" title="@Strings.exercise_title_3">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_4_title" title="@Strings.exercise_title_4">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_5_title" title="@Strings.exercise_title_5">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_6_title" title="@Strings.exercise_title_6">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_7_title" title="@Strings.exercise_title_7">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_8_title" title="@Strings.exercise_title_8">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_9_title" title="@Strings.exercise_title_9">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_10_title" title="@Strings.exercise_title_10">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_11_title" title="@Strings.exercise_title_11">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_12_title" title="@Strings.exercise_title_12">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_13_title" title="@Strings.exercise_title_13">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_14_title" title="@Strings.exercise_title_14">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_15_title" title="@Strings.exercise_title_15">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_16_title" title="@Strings.exercise_title_16">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_17_title" title="@Strings.exercise_title_17">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_18_title" title="@Strings.exercise_title_18">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_19_title" title="@Strings.exercise_title_19">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_4_exercise_20_title" title="@Strings.exercise_title_20">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		
		<!-- WORKOUT #5 -->
		<setting propertyKey="@Properties.workout_5_divider" title="@Strings.empty">
			<settingConfig type="alphaNumeric" readonly="true" />
		</setting>		
		<setting propertyKey="@Properties.workout_5_title" title="@Strings.workout_title">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_enabled" title="@Strings.workout_enabled">
			<settingConfig type="boolean" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_duration" title="@Strings.exercise_duration">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_5_rest_duration" title="@Strings.rest_duration">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_5_repetitions" title="@Strings.workout_reps">
			<settingConfig type="numeric" required="false" min="1" max="99" />
		</setting>
		<setting propertyKey="@Properties.workout_5_repetition_pause" title="@Strings.workout_rep_pause">
			<settingConfig type="numeric" required="false" min="1" max="600" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_1_title" title="@Strings.exercise_title_1">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_2_title" title="@Strings.exercise_title_2">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_3_title" title="@Strings.exercise_title_3">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_4_title" title="@Strings.exercise_title_4">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_5_title" title="@Strings.exercise_title_5">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_6_title" title="@Strings.exercise_title_6">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_7_title" title="@Strings.exercise_title_7">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_8_title" title="@Strings.exercise_title_8">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_9_title" title="@Strings.exercise_title_9">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_10_title" title="@Strings.exercise_title_10">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_11_title" title="@Strings.exercise_title_11">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_12_title" title="@Strings.exercise_title_12">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_13_title" title="@Strings.exercise_title_13">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_14_title" title="@Strings.exercise_title_14">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_15_title" title="@Strings.exercise_title_15">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_16_title" title="@Strings.exercise_title_16">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_17_title" title="@Strings.exercise_title_17">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_18_title" title="@Strings.exercise_title_18">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_19_title" title="@Strings.exercise_title_19">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
		<setting propertyKey="@Properties.workout_5_exercise_20_title" title="@Strings.exercise_title_20">
			<settingConfig type="alphaNumeric" required="false" maxLength="32" />
		</setting>
	</settings>
</resources>
